/* Simple theme variable definitions */

:host([ready]) {
    --simple-bg: light-dark(white, black);
    --simple-border: light-dark(black, white);
    --ctb-btn-border-radius: 0px;
    --ctb-btn-height: 3rem;
    --ctb-btn-padding: 0 0.5rem;
    --ctb-btn-border: 0.063rem dashed var(--simple-border);
    --ctb-btn-text-overflow: ellipsis;
    --ctb-btn-overflow: hidden;
    --ctb-btn-white-space: nowrap;
}

/* Simple Theme Shadow DOM Styles */
:host {
    border: none;
    background-color: transparent;
}

:host([ready]) {
    display: inline-block;
    box-sizing: border-box;
    height: 3rem;
    margin: 0 1rem;
    border: 0.063rem dashed var(--simple-border);
    background-color: var(--simple-bg);
    border-radius: 0px;
    box-shadow: none;
}

:host([ready]:hover) {
    background-color: light-dark(#f0f0f0, #1f2937);
}

:host([ready]:active) {
    background-color: light-dark(#e0e0e0, #111827);
}

:host([ready][selected]) {
    border: 0.063rem solid var(--simple-border);
    background-color: light-dark(#eaeaea, #2d3748);
}

:host([ready][selected]:active) {
    background-color: light-dark(#dcdcdc, #1a202c);
}

:host([ready]) ::slotted(a),
:host([ready]) ::slotted(button),
:host([ready]) ::slotted(label) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
}

:host([ready][multiline]) {
    height: auto;
    min-height: 3rem;
}

:host([ready][multiline]) ::slotted(a),
:host([ready][multiline]) ::slotted(button),
:host([ready][multiline]) ::slotted(label) {
    height: auto;
    min-height: inherit;
    white-space: normal;
    text-overflow: clip;
    overflow: visible;
}


/* Simple fallback style rules */
html[data-ctb-ui-theme="simple"] {
    ctb-button:not([ready]) > a:not(.btn-link),
    ctb-button:not([ready]) > button:not(.btn-link),
    .btn:not(.btn-link):not(ctb-button[ready] *),
    button:not([type="radio"]):not([type="checkbox"]):not(.btn-link):not(ctb-button[ready] *),
    input[type="file"]::file-selector-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        border: 0.063rem dashed light-dark(black, white);
        margin: 0 1rem;
        height: 3rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        background-color: light-dark(white, black);
        border-radius: 0px;
        box-shadow: none;

        &:hover {
            background-color: light-dark(#f0f0f0, #1f2937);
        }

        &:active {
            background-color: light-dark(#e0e0e0, #111827);
        }
    }
}
