<p>
Here you'll find current and past issues of the Collective Toolbox newsletter.
</p>

<p>
If you'd like future issues to land in your email inbox, you can <a href="/subscribe" class="link-external" target="_blank">subscribe to the newsletter updates</a>.
</p>

<details class="ml-8">
    <summary>Or if you'd like them to land in your feed reader, you can subscribe through syndication formats like RSS, Atom, and more; click to expand:</summary>
<ul>
    <li><a href="/newsletters/newsletters.rss" class="link-download">RSS</a> (if unsure, use this one)</li>
    <li><a href="/newsletters/newsletters.atom" class="link-download">Atom</a></li>
    <li><a href="/newsletters/newsletters.json" class="link-download">JSON Feed</a></li>
    <li>hAtom (marked up on this page)</li>
    <li>Or, mostly just for fun, various older formats:</li>
    <li><a href="/newsletters/newsletters.rss-1.xml" class="link-download">RSS 1.0</a></li>
    <li><a href="/newsletters/newsletters.rss-092.xml" class="link-download">RSS 0.92</a></li>
    <li><a href="/newsletters/newsletters.rss-091ul.xml" class="link-download">RSS 0.91 (UserLand variant)</a></li>
    <li><a href="/newsletters/newsletters.rss-091ns.xml" class="link-download">RSS 0.91 (Netscape variant)</a></li>
    <li><a href="/newsletters/newsletters.rss-09.rdf" class="link-download">RSS 0.9</a></li>
    <li><a href="/newsletters/newsletters.sn-02.xml" class="link-download">ScriptingNews 2.0b1</a></li>
    <li><a href="/newsletters/newsletters.sn-01.xml" class="link-download">ScriptingNews 1.0a2</a></li>
</ul>
(I haven't tested these.)
</details>
